.sidebar {
    position: fixed;
    top: 0;
    background: #FFF;
    left: 0px;
    width: 230px;
    height: 100vh;
    z-index: 1000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;

    .logo-bx {
        a{
            height: 60px;
            background-color: #fff;
        }
    }



    .menu-bx {
        height: 90%;

        .side-menu {
            width: 100%;
            margin-top: 48px;

            li {
                height: 48px;
                background: transparent;
                margin-left: 6px;
                border-radius: 48px 0 0 48px;
                padding: 4px;

                &.active {
                    background: var(--grey);
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        top: -40px;
                        right: 0;
                        box-shadow: 20px 20px 0 var(--grey);
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        bottom: -40px;
                        right: 0;
                        box-shadow: 20px -20px 0 var(--grey);
                        z-index: -1;
                    }

                    a {
                        color: var(--success);
                    }
                }


                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border-radius: 48px;
                    font-size: 16px;
                    color: var(--dark);
                    white-space: nowrap;
                    overflow-x: hidden;
                    transition: all 0.3s ease;

                    .bx {
                        min-width: calc(60px - ((4px + 6px) * 2));
                        display: flex;
                        font-size: 1.6rem;
                        justify-content: center;
                    }

                    &.logout {
                        color: var(--danger);
                    }
                }
            }
        }
    }

    &.open {
        width: 60px;
        .logo-bx{
            a {
               .logo{
                 display: none;
               }
            }

        }

        .side-menu {
            li {
                a {
                    width: calc(48px - (4px * 2));
                    transition: all 0.3s ease;
                }
            }
        }

        ~.content-bx {
            width: calc(100% - 60px);
            left: 60px;
            
        }
    }
}

.content-bx {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;

    &.open {
        width: 100%;
        left: 0;
    }

    .header {
        height: 60px;
        position: sticky;
        top: 0;
        z-index: 1020;

        .right-header-bx {
            .profile-bx {
                cursor: pointer;


                .user-info-bx {
                    span {
                        @media (max-width:600px) {
                            display: none;

                        }
                    }
                }

                .profile-dropdown-bx {
                    position: absolute;
                    top: 55px;
                    right: 0px;
                    width: 130px;
                    border-radius: 5px;
                    background-color: #FFF;
                    box-shadow: rgba(0, 0, 0, 0.176) 0px 1rem 3rem;
                    display: none;
                    z-index: 1000;

                    .dd-item {
                        padding: 5px 25px;
                        border-bottom: 1px solid rgb(0 0 0 / 8%);

                        a {
                            font-size: 14px;
                            font-weight: normal;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }

                        &:last-child {
                            border-bottom: unset;
                        }

                    }
                }
            }
        }

    }

    .icon-bx {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--br-color);
        font-size: 18px;
        color: var(--icon-color);
        cursor: pointer;
        background-color: transparent;

        &:focus {
            outline: unset;
        }
    }
}

.note-editing-area {
    .note-editable {
        background: #FFF !important;
        color: var(--fc-primary);
    }
}

.card-title {
    font-size: 24px;
    font-weight: 500;
}

.image-container {
    position: relative;
    display: inline-block;
    max-width: 350px;
}

.action-icons {
    position: absolute;
    top: 10px;
    right: -35px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.action-icons i {
    display: flex;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    background-color: var(--fc-primary);
    padding: 7px;
    align-items: center;
}

.image-placeholder {
    width: 100%;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 18px;
    border-radius: 5px;
    transition: all 0.4s;
}

.image-placeholder:hover {
    transform: scale(1.1);
}

.card-title{
    &.\--font-18{
        font-size: 18px;
    }
    
    &.\--font-16{
        font-size: 16px;
    }
    
    &.\--font-14{
        font-size: 16px;
    }
}